.footer {
    background-image: linear-gradient(to bottom, #020024 0%, #14274a 100%);
    color: white;
  }
  .footer {
    background-color: #14274a !important;
    text-decoration: none !important;
  }