.text_habitaciones {
    text-align: center;
    padding: 60px;
    background-color: #d3dbeb;
  }
  @media (min-width: 992px){
    .navbar {
      background-color: $primary;
  }
    .text_habitaciones {
        text-align: center;
        padding: 60px;
        background-color: #d3dbeb;
      }
  }
  @media (max-width: 992px){
    .navbar {
      background-color: $primary;
  }
    .text_habitaciones {
        text-align: center;
        padding: 60px;
        background-color: #d3dbeb;
      }
  }
  @media (max-width: 768px){
    .navbar {
      background-color: $primary;
  }
    .text_habitaciones {
        text-align: center;
        padding: 60px;
        background-color: #d3dbeb;
  }
}